@media all {
	.wp-popup {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2147483647;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		background: rgba(0, 0, 0, .8)
	}

	.wp-popup:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle
	}

	.wp-popup .wp-popup-content {
		position: relative;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		padding: 25px 25px 0;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		background-color: #fff;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		cursor: auto;
		white-space: normal
	}

	.wp-popup .wp-popup-inner {
		display: block
	}

	.wp-popup link.wp-popup-inner, .wp-popup script.wp-popup-inner, .wp-popup style.wp-popup-inner {
		display: none
	}

	.wp-popup .wp-popup-close-icon {
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
		line-height: 25px;
		width: 25px;
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		background: #fff;
		background: rgba(255, 255, 255, .3);
		color: #000;
		border: 0;
		padding: 0
	}

	.wp-popup .wp-popup-close-icon::-moz-focus-inner {
		border: 0;
		padding: 0
	}

	.wp-popup .wp-popup-image {
		width: 100%
	}

	.wp-popup-iframe .wp-popup-content {
		border-bottom: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll
	}

	.wp-popup iframe {
		border: 0
	}

	.wp-popup * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}

	.wp-popup-beaver {
		display: none;
	}

	.wp-popup-inner .wp-popup-beaver {
		display: block;
	}

	.wp-popup-content.wp-popup-beaver-content {
		padding: 0;
	}
}

@media only screen and (max-width: 1024px) {
	.wp-popup .wp-popup-content {
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;
		padding: 10px 10px 0;
		border-bottom: 10px solid transparent
	}
}